.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 100vh;
}

.login-form {
  flex-direction: column;
  min-width: 350px;
  padding: 0.8rem;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0px 10px 10px #bebebe;
}

form .input-field {
  justify-content: space-between;
  gap: 1.5rem;
  margin-block: 1rem;
}

.input-field input{
  padding: 5px;
  border: 0.5px solid gray;
  border-radius: 5px;
  outline: none;
}