@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

button {
  padding: 10px 24px;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15ch;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 0.5rem;
  cursor: pointer;
}

button:active {
  background-color: #3e8e41;
}
